<ion-header>

  <ion-navbar>
    <ion-title>Edit Event</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Event Title</ion-label>
      <ion-input type="text" [(ngModel)]="event.eventName"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Event Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY H:mm" [(ngModel)]="event.date"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="event.description"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label>Private Event</ion-label>
      <ion-toggle [(ngModel)]="event.isPrivate"></ion-toggle>
    </ion-item>
    
    <ion-item>
      <ion-label>Set Password</ion-label>
      <ion-toggle [(ngModel)]="hasPassword"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="hasPassword">
      <ion-input [(ngModel)]="event.password" type="password" placeholder="enter password" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Set Range</ion-label>
      <ion-toggle [(ngModel)]="hasRadius" (ngModelChange)="setCircle()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="hasRadius">
      <ion-input [(ngModel)]="event.radius" type="number" placeholder="range in meter" (ngModelChange)="setCircle()">0</ion-input>
    </ion-item>
  </ion-list>
  <div #map id="map"></div>
  <button ion-button block (click)="saveBtn()">Save</button>
  <button ion-button block (click)="endBtn()">Eliminate</button>
</ion-content>
