<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid *ngIf="data != null">
        <ion-row>
            <ion-col no-padding col-4 col-sm-3 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of data.items;let i = index;">
                <ion-item no-lines *ngFor="let image of data.items; let i = index">
                    <ion-card background-size [ngStyle]="{'background-image': 'url(' + image.image + ')'}"></ion-card>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>    
</ion-content>