<ion-header header-ios>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title>{{data.toolbarTitle}}</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content elastic-header>
    <div padding background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
    <ion-thumbnail *ngIf="user != null">
      <img [src]="user.avatar" />
    </ion-thumbnail>
    <h2 text-center parallax-title *ngIf="user != null">{{user.username}}</h2>
    <h3 text-center parallax-subtitle *ngIf="user != null">{{user.firstName}} {{user.lastName}}</h3>
  </div>

  <ion-item (click)="getQr()">
    <ion-icon ios="ios-finger-print" md="md-finger-print"></ion-icon>
    Show QR Code
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
    {{user.email}}
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-glasses" md="md-glasses"></ion-icon>
    {{user.username}}
  </ion-item>
  <ion-item>
    <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
    {{user.firstName}} {{user.lastName}}
  </ion-item>
  <button ion-button clear block (click)="editProfile()">Edit Profile</button>
  <button ion-button block (click)="changePwd()">Change Password</button>

</ion-content>
