<ion-header header-ios>
  <ion-navbar transparent>
  </ion-navbar>

  <ion-toolbar no-padding>
      <div background-size *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <div search-bar-bcg>
          <!-- Header Title -->
          <h1 ion-text no-margin padding-left search-bar-title>{{data.title}}</h1>
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search(searchTerm)"></ion-searchbar>
        </div>
      </div>
  </ion-toolbar>

</ion-header>
 
<ion-content elastic-header>
  <ion-list *ngIf="participants != null && listReady">
    <ion-item *ngIf="displayList.length == 0"><p>No results for:{{searchTerm}}</p></ion-item>
    <ion-item border no-lines *ngFor="let p of displayList">
        <ion-avatar item-start>
          <img [src]="p.avatar"/>
        </ion-avatar>
        <h2 item-title>{{p.username}}</h2>
        <h3 item-subtitle text-wrap>{{p.email}}</h3>
        <button *ngIf="isAdmin" text-capitalize button-clear ion-button item-end clear (click)="presentActionSheet(p.uid)"><ion-icon name="more"></ion-icon></button>
    </ion-item>
  </ion-list>
    
</ion-content>

<ion-footer transparent>
  <ion-fab bottom right>
    <button ion-fab (click)="inviteUser()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
