<ion-header>
    <ion-navbar transparent>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <!--<ion-title *ngIf="data != null">{{data.headerTitle}}</ion-title>-->
      <ion-title *ngIf="data != null">{{event.eventName}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <!--Content -->
  <ion-content elastic-header>
    <div #map id="map"></div>
    <ion-grid no-padding *ngIf="data != null">
      <ion-row>
        <ion-col col-12 map-header>
          <ion-item lines no-padding>
            <!--Event Title/Name-->
            <ion-item-divider border no-lines>
              <h1 no-padding padding-left maps-title margin-top text-wrap>{{event.eventName}}</h1>
              <!--<ion-icon no-padding item-end (click)="presentActionSheet()" icon-medium ios="ios-more" md="md-more"></ion-icon>-->
              <button *ngIf="!viewOnly" padding-top text-capitalize button-clear ion-button item-end clear (click)="presentActionSheet(user, event)"><ion-icon name="more"></ion-icon></button>
            </ion-item-divider>
            <!--Event Info-->
            <div padding-left padding-top (click)="viewEventQR()">
              <ion-icon no-padding no-margin no-border icon-small ios="finger-print" md="finger-print" item-start></ion-icon>
                <h2 ion-text float-left color="primary"> EventID: {{event.eventId}}</h2>
            </div>
            <div padding-left padding-top (click)="viewParticipants()">
              <ion-icon no-padding no-margin no-border icon-small ios="ios-people" md="md-people" item-start></ion-icon>
                <h2 ion-text float-left color="primary"> Participants: {{event.participants.length}}</h2>
            </div>
          </ion-item>
        </ion-col>
  
        <ion-col col-12 map-content transparent>
          <ion-item-group>
            <ion-item-divider no-lines>
              <h2 maps-description-title text-wrap margin-bottom>{{data.description}}</h2>
              <p maps-description text-wrap>{{event.description}}</p>
            </ion-item-divider>
            <!--Info Location-->
            <ion-item border>
              <ion-icon icon-medium ion-text color="primary" ios="ios-locate" md="md-locate" item-start></ion-icon>
              <h2 no-padding>{{locStr}}</h2>
            </ion-item>
            <!--Info Time-->
            <ion-item border>
              <ion-icon icon-medium color="primary" ios="ios-timer" md="md-timer" item-start></ion-icon>
              <h2 no-padding>{{event.date | date:'yyyy MMM dd H:mm'}}</h2>
            </ion-item>
            <!--Info Creator-->
            <ion-item border>
              <ion-icon icon-medium color="primary" ios="ios-person" md="md-person" item-start></ion-icon>
              <h2 no-padding>Created by {{creator}}</h2>
            </ion-item>
            <!--Info Chat-->
            <ion-item border *ngIf="!viewOnly">
              <button button-clear clear ion-button (click)="groupChatBtn()" no-padding>
                <ion-icon icon-medium color="primary" ios="ios-chatbubbles" md="md-chatbubbles" item-start></ion-icon>
                <h2 no-padding>Group Chat</h2>
              </button>
            </ion-item>
            <!--Edit Event-->
            <ion-item border *ngIf="isAdmin&&!viewOnly">
              <button button-clear color="danger" clear ion-button (click)="editEventBtn()" no-padding>
                  <ion-icon icon-medium color="primary" ios="ios-settings" md="md-settings" item-start></ion-icon>
                  <h2 no-padding>Edit Event</h2>
                </button>
              </ion-item>
            <!--Leave Event-->
            <ion-item border *ngIf="!viewOnly">
              <button button-clear color="danger" clear ion-button (click)="leaveEventBtn()" no-padding>
                <ion-icon icon-medium color="primary" ios="ios-exit" md="md-exit" item-start></ion-icon>
                <h2 no-padding>Leave Event</h2>
              </button>
            </ion-item>
            <!--Join Event-->
            <ion-item border *ngIf="viewOnly">
                <button button-clear color="danger" clear ion-button (click)="joinEvent()" no-padding>
                  <ion-icon icon-medium color="primary" ios="ios-add" md="md-add" item-start></ion-icon>
                  <h2 no-padding>Join Event</h2>
                </button>
            </ion-item>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>