<ion-header header-ios>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar no-padding>
    <div background-size *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <div search-bar-bcg>
        <!-- Header Title -->
        <h1 ion-text no-margin padding-left search-bar-title>{{data.title}}</h1>
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search(searchTerm)"></ion-searchbar>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col (click)="viewRequest(false)">Events</ion-col>
        <ion-col (click)="viewRequest(true)">Request</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
</ion-header>

<ion-content elastic-header>
    <ion-grid no-padding *ngIf="events != null && data != null">
        <ion-row>
          <ion-col no-padding col-12 col-md-6 *ngFor="let e of displayList;">
            <ion-card background-size text-left (click)="viewEvent(e.eventId)" [ngStyle]="{'background-image': 'url(' + data.backgroundImage + ')'}">
              <!--ngStyle]="{'background-image': 'url(' + data.backgroundImage + ')'}-->
              <!-- Event Name -->
              <div card-title>{{e.eventName}}</div>
              <!-- Event Description and Date -->
              <div text-wrap card-subtitle>
                <b>Description:</b> {{e.description}} <br>
                <!--<b>Creator:</b> {{e.creator}} <br>-->
                <b>Time:</b> {{e.date | date:'EEEE, MMMM d y h:mm a'}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<!-- Bottom Button -->
<ion-footer transparent>
    <ion-fab bottom right>
      <button ion-fab>
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button (click)="createEvent()" ion-fab>Create</button>
        <button (click)="joinEvent()" ion-fab>Join</button>
      </ion-fab-list>
    </ion-fab>
  </ion-footer>