<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Event Title</ion-label>
      <ion-input type="text" [(ngModel)]="event.eventName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Event Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY H:mm" [(ngModel)]="event.date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="event.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Private Event</ion-label>
      <ion-toggle [(ngModel)]="event.isPrivate"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Set Password</ion-label>
      <ion-toggle [(ngModel)]="hasPassword"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="hasPassword">
      <ion-input [(ngModel)]="event.password" type="password" placeholder="enter password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Set Range</ion-label>
      <ion-toggle [(ngModel)]="hasRadius" (ngModelChange)="setCircle()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="hasRadius">
      <ion-input [(ngModel)]="event.radius" type="number" placeholder="range in meter" (ngModelChange)="setCircle()">0</ion-input>
    </ion-item>

  </ion-list>
<!--  <button class="button button-block button-positive" ng-disabled="$invalid" ng-click="create">Create Event</button>
 -->
  <div #map id="map"></div>
  <button ion-button block (click)="saveBtn()">Save</button>

</ion-content>
